
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
    {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

  </head>
  <body>
    {% if question %}
      <ul>
    
          <a href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a>
        
      
        {% for choice in question.choice_set.all %}
        <li>{{ choice.choice_text }}</li>
        {% endfor %}
      </ul>
   
    {% else %}
      <p>error</p>
    {% endif %}

  </body>
</html>
    