    {%load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>

      <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css'%}">
  </head>
  <body>
    <form action={%url 'polls:form' question.id %} method="POST" >
    {% csrf_token %}
    {% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}
    {%for choice in question.choice_set.all%}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}"
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {%endfor%}
        <input type="submit" value="Vote">
    </form>

  </body>
</html>